<h3>Login</h3>

<form method='POST' action='/login'>
    <label>Username</label>
    <input type='text' name='username' placeholder='JohnDoe'><br>
    <label>Password</label>
    <input type='text' name='password' placeholder='strong password'><br>
    <br>
    <input type='submit' value='Login'>
    or <a href='/signup'>Sign Up</a>
</form>