<h3>Sign Up</h3>

<form method='POST' action='/signup'>
    <label>Username</label>
    <input type='text' name='username'><br>
    <label>Email</label>
    <input type='text' name='email'><br>
    <label>Password</label>
    <input type='text' name='password'><br>
    <label>Level</label>
    <input type='text' name='level'><br>
    <label>Discipline</label>
    <input type='text' name='discipline'><br>
    <input type='submit' value='Sign Up'>
</form>