<h3>Current Projects</h3>

<dl><ol>
<% @projects.each do |project| %>
    <li>
        <dt><%= project.client %> : <%= project.user.username %></dt>
        <dd><%= project.summary %></dd>
        <a href="/projects/<%= project.id %>">See Project</a>
    </li>
    <br>
<% end %>
</ol></dl>

<h4>Create New:</h4>
<a href='/projects/new'>Project</a>
