<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand" href="#">Project Manager</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='/signup'>Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href='/login'>Login In</a>
        </li>
    </div>
  </div>
</nav>
<br>

<p class="index-top" style="">The project manager application provides a straightforward system for team resourcing and project management. Create new projects, assign engineers to those projects, and review all delegated projects.</p>
<p class="index-bottom" style="text-align:center;">Please <a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a>.</p>

<style>

p {
    text-align: center;
    margin: 0 20% 0 20%
}

.index-top {
    margin-top: 25%;
}

.index-bottom {
    margin-top: 10%;
}

</style>