<!DOCTYPE HTML>
<html>
    <head>
        <title>Project Management</title>
        <meta charset='UTF-8'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>
    </head>
    <body>

        <h2>Project Manager</h2>

        <% if logged_in? %>
            <p>Hello <%= current_user.username %></p>
            <nav class='wrapper'>
                <a href='/projects'>Projects</a>
                <a href='/users'>Users</a>
                <a href='/users/<%= session[:user_id] %>'>My Profile</a>
                <a href='/logout'>Logout</a>
            </nav>
        <% end %>

        <%= yield %>
        
    </body>
</html>